<?xml version="1.0" encoding="utf-8" ?>
<robot name="aloha v2" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="aloha_v2" params="chassis:=tracer">
		<xacro:include filename="$(find piper_description)/xacro/Piper.xacro"/>

		<xacro:if value="${chassis == 'tracer'}">
			<xacro:include filename="$(find agilex_aloha_description)/xacro/base/tracer.xacro"/>
		</xacro:if>

		<xacro:if value="${chassis == 'tracer_v2'}">
			<xacro:include filename="$(find agilex_aloha_description)/xacro/base/tracer_v2.xacro"/>
		</xacro:if>

		<!-- aloha base -->
		<link name="body_Link">
			<inertial>
				<origin xyz="0.015107 -0.027922 0.00013672"/>
				<mass value="3.736"/>
				<inertia ixx="0.097545" ixy="-9.2609E-06" ixz="0.00015366" iyy="0.045841" iyz="-0.0020459" izz="0.084773"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v2/body.obj"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="file://$(find agilex_aloha_description)/meshes/aloha_v2/body.obj"/>
				</geometry>
			</collision>
		</link>

		<joint name="body_joint" type="fixed">
			<origin xyz="0 0 0.168"/>
			<parent link="base_footprint"/>
			<child link="body_Link"/>
			<axis/>
		</joint>
		<!--***************************** front-left ****************************** -->

		<xacro:Piper name="fl"/>
		<joint name="fl_base_joint" type="fixed">
			<origin xyz="0.23875 0.3 0.607"/>
			<parent link="body_Link"/>
			<child link="fl_base_link"/>
			<axis xyz="0 0 1"/>
		</joint>

		<!--***************************** front-right ****************************** -->
		<xacro:Piper name="fr"/>
		<joint name="fr_base_joint" type="fixed">
			<origin xyz="0.23875 -0.3 0.607"/>
			<parent link="body_Link"/>
			<child link="fr_base_link"/>
			<axis xyz="0 0 1"/>
		</joint>

		<!--***************************** back-left ****************************** -->
		<xacro:Piper name="bl" is_master="true"/>
		<joint name="bl_base_joint" type="fixed">
			<origin xyz="-0.379 0.3075 0.733"/>
			<parent link="body_Link"/>
			<child link="bl_base_link"/>
			<axis xyz="0 0 1"/>
		</joint>

		<!--***************************** back-right ****************************** -->
		<xacro:Piper name="br" is_master="true"/>
		<joint name="br_base_joint" type="fixed">
			<origin xyz="-0.379 -0.3075 0.733"/>
			<parent link="body_Link"/>
			<child link="br_base_link"/>
			<axis xyz="0 0 1"/>
		</joint>
	</xacro:macro>
</robot>

